.venv/
db.sqlite3
.env
venv/
.pyc
__pycache__/

#If we are using pycharm
.idea/
!.idea/*.iml
.idea/workspace.xml
.idea/ShopSphereApi.iml
.idea/dataSources.local.xml
.idea/dataSources
media/product_images/
